/*CSS Reset / Normalize*/
/* Hemos disponibilizado el básico de reset de estilos. Si quieren, añadan más informaciones 
en las secciones señaladas */
/*Já deixaremos o básico de reset de estilos. Caso queira adicionar mais informações
coloque nas sessões indicadas*/

:root {
   /* Inserta la variable de los otros colores inspeccionando el exemplo de figma */
   /*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/
   --cor-de-fundo: #F5F5F5;
   --cor-de-link: #000;
}

body {
   box-sizing: border-box;
   background-color: var(--cor-de-fundo);
   font-family: 'Raleway';
   margin: 0 auto;
   padding: 0;
   line-height: 1;
}

ol,
ul,
li {
   list-style: none;
}

a {
   text-decoration: none;
   color: var(--cor-de-link);
}

h4,
p {
   margin: 0;
}

/*En este desafío nosostros gustaríamos que ustedes intentaran utilizar la metodología BEM. 

Lo que es el BEM?

BEM (Bloque, Elemento, Modificador) es un enfoque basado en componentes para el 
desarrollo web. La idea detrás de esto es dividir la interfaz de usuario en bloques
independientes. Esto hace que el desarrollo de la interfaz sea fácil y rápido, incluso
con una interfaz de usuario compleja, y permite la reutilización del código existente sin copiar y pegar.

Enlace de la documentación oficial!
https://en.bem.info/methodology/quick-start/*/

/*Sección Menu*/
.container {
   padding-left: calc((100% - 1150px)/2);
   padding-right: calc((100% - 1150px)/2);
}

.buttonwhite {
   background: #F5F5F5;
   display: inline-block;
   cursor: pointer;
   color: #2A7AE4;
   font-weight: 400;
   font-size: 16px;
   padding: 16px;
   border: 1px solid #2A7AE4;
}

.buttonblue {
   background: #2A7AE4;
   display: inline-block;
   cursor: pointer;
   color: #ffffff;
   font-weight: 400;
   font-size: 16px;
   padding: 16px;
   border: 1px solid #2A7AE4;
}

.menu {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   padding-top: .75rem;
   padding-bottom: .75rem;
}

.menu__header {
   display: flex;
   align-items: center;
}

.menu__list {
   display: flex;
   align-items: center;
}

.menu__list__item {
   padding: 1rem;
}

/*Sección Title*/

.title {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   padding-top: 2rem;
   padding-bottom: 2rem;
}

.title__div {
   display: flex;
}

.title__container {
   order: 0;
}

.title__bio {
   color: #464646;
   font-size: 52px;
}

.title__subsection {
   color: #464646;
   font-weight: 400;
   font-size: 22px;
}

.title__profile {
   flex: none;
   order: 1;
}

.title__network {
   display: flex;
   align-items: center;
   padding: 0;
}

.title__network__item {
   padding: 1.656rem 3rem 0 0;
   color: #464646;
}

/*Sección About*/

.about {
   background-color: #EAF2FD;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding-top: 4rem;
   padding-bottom: 4rem;
}

.about__container {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
}

.about__title {
   font-size: 32px;
   color: #464646;
   margin-bottom: 1.5rem;
}

.about__paragraph {
   padding-bottom: 1.5rem;
   padding-right: 25rem;
   color: #464646;
   line-height: 19px;
}

/*Sección Skills*/
/*Sección Hobbies*/

.skills,
.hobbies {
   padding-top: 3rem;
   padding-bottom: 3rem;
}

.skills__title,
.hobbies__title {
   color: #464646;
   font-size: 32px;
   text-align: center;
}

.skills__line,
.hobbies__line {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

.skills__box,
.hobbies__box {
   display: flex;
   align-items: flex-end;
   width: 8%;
   background-color: #ffffff;
   padding: 80px 80px 0 0;
}

.skills__content,
.hobbies__content {
   padding: 16px 0px 0px 16px;
}

.skills__img,
.hobbies__img {
   padding-bottom: 8px;
}

.skills__name,
.hobbies__name {
   font-size: 16px;
}

/* Experiencia Académica*/

.academic {
   background-color: #EAF2FD;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding-top: 3rem;
   padding-bottom: 3rem;
}

.academic__title {
   font-size: 32px;
   color: #464646;
   text-align: center;
}

.academic__courses {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

.academic__courses__box {
   display: flex;
   align-items: center;

}

.academic__courses__list {
   padding: .5rem;
}

.academic__courses__item__img {
   background-color: #ffffff;
   padding: 5rem 5.6rem;
}

.academic__courses__item__title {
   font-size: 22px;
   color: #464646;
   padding-top: .5rem;
}

.academic__courses__item__subtitle {
   font-size: 16px;
   line-height: 19px;
   color: #464646;
   padding-top: .5rem;
}

/* experiencia*/

.experience {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.experience__section__title {
   font-size: 32px;
   color: #464646;
}

.experiencie__box {
   display: flex;
   flex-direction: row;
   padding-bottom: 3rem;
   max-width: 1136px;
   width: 100%;
}

.experience__img {
   order: 0;
}

.experience__info,
.experience__info-container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   order: 1;
   padding: 1rem;
}

.experience__info-container {
   order: -1;
}

.experience__title {
   font-size: 22px;
   color: #464646;
   margin: .5rem;
}

.experience__text {
   font-weight: 500;
   font-size: 16px;
   color: #464646;
   margin: .5rem;
}

/*Contacto*/

.formcontato {
   background-color: #EAF2FD;
   padding-top: 3rem;
   padding-bottom: 3rem;
}

.formcontato__contacto {
   display: flex;
   flex-direction: row;
   max-width: 1136px;
   width: 100%;
}

.formcontato--esquerda {
   order: 0;
}

.formcontato__text {
   order: 1;
   display: flex;
   flex-direction: column;
   justify-content: center;
   padding-left: 1rem;
}

.formcontato__title {
   font-size: 32px;
   color: #464646;
   margin-bottom: .5rem;
}

.formcontato__subtext {
   font-weight: 500;
   font-size: 16px;
   color: #464646;
   margin-top: .5rem;
   margin-bottom: .1rem;
}

.formcontato__form {
   display: flex;
   flex-direction: column;
}

.formcontato__input {
   width: 656px;
   height: 56px;
   margin: 32px 32px 0 0;
   border: transparent;
   border-radius: 4px;
}

.formcontato__textarea {
   width: 656px;
   height: 133px;
   margin: 32px 32px 0 0;
   border: transparent;
   border-radius: 4px;
}

.formcontato__botao {
   width: fit-content;
   margin-top: 32px;
}

/*footeer*/

.footer {}

/* Vamos a desafiarnos trabajando con responsividad?
Utiliza las referencias de los breakpoints @media abajo */


/*Tablet*/
@media (min-width: 768px) {

   /* Menú */

   /*title*/

   /*Skills*/

   /*Hobbies*/

   /*Formación Académica*/

   /*Experiencia Profesional*/

}

/*Mobile*/
@media (min-width: 425px) {

   /*Menu*/

   /*Titulo*/

   /*Sección sobre mi*/

   /*Skills*/

   /*Hobbies*/

   /*Formación Académica*/

   /*Experiencia Profesional*/

   /*Contacto*/

   /*Footer*/

}